<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <h3>List and Todo app</h3>
        <div class="lists-wrapper">
            <h4>TODO LISTS</h4>
            <form action="/lists/create" method="POST" id="list-form">
                <label for="todolist">Create List:</label>
                <input type="text" name="todolist" id="todolist-input" placeholder="A new List"/>
                <button type="submit">Create List</button>
            </form>
            <ul id='lists'>
                {% for list in lists %}
                <li>
                    <input type="checkbox" data-id="{{list.id}}" class="list-check-completed">
                    <a href="/lists/{{ list.id }}"> {{ list.name }} </a>
                    <button class="delete-list" data-id="{{ list.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="todos-wrapper">
            <h4>TODO ITEMS</h4>
            <form id="todo-form">
                <input id="list_id" type="hidden">
                <label for="description">Create Task:</label>
                <input type="text" id="description" name="description" placeholder="Task description" />
                <input type="submit" value="Create"/>
            </form>
            <div id="error" class="hidden">
                Something went wrong! 
            </div>
            <h4></h4>
            <ul id="todos">
                {% for todo in todos %}
                <li>
                    <input class="todo-check-completed" data-id="{{ todo.id}}" type="checkbox" {% if todo.completed %} checked {% endif %}/>
                    {{todo.description}}
                    <button class="delete-todo" data-id="{{todo.id}}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script> {% include 'js/main.js' %} </script>
    </body>
</html>